@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Remove the list type*/
ul {
  display: flex;
  list-style: none;
  gap: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Style the links */
.links a {
  text-decoration: none;
  color: rgb(61, 54, 54);
}

/* Style header and footer items */
.header .links,
.footer .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Style the content in the middle */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
  margin-bottom: 50px;
}

/* Style footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #eeeeee;
  color: white;
}
